---
import Earth from '../components/Earth.svelte';
import Sidebar from '../components/Sidebar.svelte';
import Timeline from '../components/Timeline.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="testing">
	<main class="w-screen h-screen flex flex-col">
		<div class="flex w-full h-5/6">
			<Sidebar />
			<Earth />
		</div>
		<div class="h-1/6">
			<Timeline />
		</div>
	</main>
</Layout>

<style>
	h1 {
		color: aliceblue;
	}
</style>
